*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family : 'Poppins';
}

.container {
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px;

    .heading {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        margin: auto;

        .heading1 {
            font-weight: 200;
        }
        .heading2 {
            font-weight: 500;
            color: #4e4a4a;
        }
    }

    .card-container {
        height: 70vh;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .cards {
            flex: 1;

        }
        .middle {
            padding: 5px 0px;

            .second, .third {
                margin: 20px 0px;
            }
        }
        .box {
            height: 200px;
            border-radius: 15px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
            padding: 10px 20px;

            .img-div {
                margin-top: 20px;
                display: flex;
                justify-content: end;
                
            }
        }

        .first {
            border-top: px solid hsl(180, 62%, 55%);
        }
        .second {
            border-top: px solid hsl(0, 78%, 62%);
        }
        .third {
            border-top: px solid hsl(34, 97%, 64%);
        }
        .fourth {
            border-top: px solid hsl(212, 86%, 64%);
        }

    }

    @media screen and (max-width: 375px) {
        .heading {
            display: block;
            width: fit-content;
            .heading1, .heading2, p {
                margin-bottom: 10px;
            }
        }
        .card-container {
            flex-direction: column;
            height: auto;
            gap: 5px;
        }
    }
}


